.venv
*__pycache__*
recorder_debug.log
.env
data/dev/*
data/prod/user-data/
src/eval/results
build/
dist/
TaskCollector.spec
desktop_app/playwright-browsers
playwright-browsers
*.DS_Store
src/eval/tars/images
results/
data/
.DS_Store
*.egg-info
google-credentials.json
desktop_app/embedded_credentials.py